@model KooliProjekt.Data.Transactions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transactions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionTime" class="control-label"></label>
                <input asp-for="TransactionTime" class="form-control" />
                <span asp-validation-for="TransactionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestmentType" class="control-label"></label>
                <input asp-for="InvestmentType" class="form-control" />
                <span asp-validation-for="InvestmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetId" class="control-label"></label>
                <input asp-for="AssetId" class="form-control" />
                <span asp-validation-for="AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action" class="control-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactedAmount" class="control-label"></label>
                <input asp-for="TransactedAmount" class="form-control" />
                <span asp-validation-for="TransactedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionUnitCost" class="control-label"></label>
                <input asp-for="TransactionUnitCost" class="form-control" />
                <span asp-validation-for="TransactionUnitCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionResult" class="control-label"></label>
                <input asp-for="TransactionResult" class="form-control" />
                <span asp-validation-for="TransactionResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
